/* Style Universal */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;400;700&display=swap');

/* ============== */
/*  GLOBAL STYLES */
/* ============== */
* {
	font-family: 'Quicksand', sans-serif;
  	box-sizing: border-box;
}

body {
  	margin: 0;
   	padding: 0;
	overflow: hidden;
}
 
h2, h3 {
   	color: #fff;
}

a {
	text-decoration: none;
	font-size: .9rem;
  	font-weight: bold;
	color: #fff;
}

li {
	list-style: none;
}

header {
	overflow: hidden;
}

/* ======================= */
/* JUMBOTRON SECTION STYLES */
/* ======================= */
.jumbotron {
  display: flex;
  flex-direction: row;
  padding: 145px 0;
  background-color: #111;
  height: 90vh;
  color: #fff;
  text-align: left;
}

.jumbotron-left {
	flex: 1;
	order: 1;
	padding: 1.2em;
}

.jumbotron-left h1 {
	font-size: 2rem;
}

.jumbotron-left .tagline {
	font-size: 1.5rem;
}

.jumbotron-right {
	flex: 1;
	order: 2;
}

.jumbotron-right img {
	width: 75%;
}

.blog {
	margin-bottom: 1em;
	padding: 0.8em;
	border-radius: 10px;
	background: #212121;
	color: #fff;
	font-size: 1.4rem;
}

.blog:hover {
	background: #fff;
	color: #333;
	box-shadow: 0px 0px 7px 2px #fff;
	transition: all 0.3s ease;
}

/* ===================== */
/* NAVBAR SECTION STYLES */
/* ===================== */
nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  background-color: #111; 
  padding: .4rem 0;
  top: 0;
}

.btn {
	width: auto;
	flex: 1;
	order: 2;
}

nav p {
	flex: 4;
	order: 1;
	display: inline-block;
	margin-left: 1.2em;
	font-size: 1.4rem;
	font-weight: bold;
	color: #fff;
}

.btn-1 {
	margin-right: 1rem;
}

.btn-1, .btn-2 {
	position: relative;
	display: inline-block;
	padding: 30px 10px 0 10px;
	color: #fff;
}

.btn-1:after, .btn-2:after {
	content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.btn-2 {
	border: 0;
	margin-right: .5em;
}


/* Socmed Icons Style*/

.socmed-icons a {
	/* vertical-align: bottom; */
	display: inline-block;
	margin: 2.5em 0.4em 0 0;
	padding: 0.5em;
	border-radius: 10px;
	background: #212121;
	color: #fff;
	font-size: 1.6rem;
}

.socmed-icons a:hover {
	background: #fff;
	color: #333;
	box-shadow: 0px 0px 7px 2px #fff;
	transition: all 0.3s ease;
}

/* All Hover Effects */
.btn-1:hover:after, .btn-2:hover:after {
  width: 100%;
}

/* Responsive Breakpoint */
@media screen and (max-width: 960px) {
	.jumbotron {
		display: flex;
		flex-direction: column;
		padding: 1em;
	}

	.jumbotron-left {
		flex: 1;
		order: 2;
	}

	.jumbotron-right {
		flex: 1;
		order: 1;
	}

	.btn {
		display: inline-flex;
	}

	.btn-2 {
		margin-right: 1.2em;
	}
}
