/* Style Universal */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;400;700&display=swap');

/* ============== */
/*  GLOBAL STYLES */
/* ============== */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: Quicksand;
  	margin: 0;
   	padding: 0;
}
 
h2, h3 {
   	color: #333;
    text-align: center;
}

a {
	text-decoration: none;
	font-size: .9rem;
  	font-weight: bold;
	color: #333;
}

/* Portofolio style */
.portofolio-row-1, .portofolio-row-2 {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 0 3em;
}

.portofolio-row-2 {
    margin-bottom: 3em;
}

/* Featured Image Style */
.featured-image {
	width: 100%;
	max-height: 350px;
	object-fit: cover;
	object-position: center;
	box-shadow: 0 0 6px 3px #ddd;
    border-radius: 5px;
  }

.card-1 {
	border-radius: 5px;
	padding: 1.5em;
	margin-right: 10px;
	flex: 1;
	order: 1;
}

.card-2 {
	border-radius: 5px;
	padding: 1.5em;
	margin-right: 10px;
	flex: 1;
	order: 2;
}

.card-3 {
	border-radius: 5px;
	padding: 1.5em;
	flex: 1;
	order: 3;
}

.demo {
    position: relative;
	color: #333;
    padding: 0 10px;
    /* margin-right: .9em; */
}

.demo:after {
    content: "";
    position: absolute;
    background-color: #333;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

/* ================== */
/* BACK BUTTON STYLES */
/* ================== */
.back {
    text-align: center;
    margin: 1.5em auto;
}

/* ================ */
/* ALL HOVER STYLES */
/* ================ */
.card-1:hover, .card-2:hover, .card-3:hover  {
	box-shadow: 0 0 8px 3px #000;
	transition: all .5s ease;
}

.demo:hover:after {
    width: 100%;

}

.back a:hover {
	background-color: #333;
	color: #fff;
	border-radius: 7px;
	padding: .8em;
	transition: all .4s ease;
}

/* ===================== */
/* RESPONSIVE BREAKPOINT */
/* ===================== */
@media screen and (max-width: 960px) {
    .portofolio-row-1, .portofolio-row-2 {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
    }
}